@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* GRID */
  --page-width: 1600px;
  --grid-edge: 0.75rem; /* 12px */
  --grid-gap-x: 0.75rem; /* 12px */

  /* SIZE OF EACH INDIVIDUAL COLUMN IN THE GRID  */
  --grid-column: calc(
    (
        (min(var(--page-width), 100vw) - (2 * var(--grid-edge))) -
          (11 * var(--grid-gap-x))
      ) / 12
  );
  --grid-column-12: calc(var(--grid-column) * 12 + var(--grid-gap-x) * 11);
  --grid-column-11: calc(var(--grid-column) * 11 + var(--grid-gap-x) * 10);
  --grid-column-10: calc(var(--grid-column) * 10 + var(--grid-gap-x) * 9);
  --grid-column-9: calc(var(--grid-column) * 9 + var(--grid-gap-x) * 8);
  --grid-column-8: calc(var(--grid-column) * 8 + var(--grid-gap-x) * 7);
  --grid-column-7: calc(var(--grid-column) * 7 + var(--grid-gap-x) * 6);
  --grid-column-6: calc(var(--grid-column) * 6 + var(--grid-gap-x) * 5);
  --grid-column-5: calc(var(--grid-column) * 5 + var(--grid-gap-x) * 4);
  --grid-column-4: calc(var(--grid-column) * 4 + var(--grid-gap-x) * 3);
  --grid-column-3: calc(var(--grid-column) * 3 + var(--grid-gap-x) * 2);
  --grid-column-2: calc(var(--grid-column) * 2 + var(--grid-gap-x) * 1);

  /* NAVIGATION */
  --navigation-top-height: 1.375rem; /* 22px */
  --navigation-height: 3.5rem; /* 56px */
  --navigation-search-height: 4rem; /* 64px */
  --navigation-combined-height: calc(
    var(--navigation-height) + var(--navigation-search-height) +
      var(--navigation-top-height)
  );
  --screen-minus-navigation-height: calc(100vh - var(--navigation-combined));

  /* BORDER RADIUS */
  --base-radius: 0.625rem; /* 10px */
  --input-radius: 0.375rem; /* 5px */

  /* ASPECT RATIOS */
  --aspect-1-1: 1 / 1;
  --aspect-1-2: 1 / 2;
  --aspect-2-1: 2 / 1;
  --aspect-2-3: 2 / 3;
  --aspect-3-2: 3 / 2;
  --aspect-3-4: 3 / 4;
  --aspect-4-3: 4 / 3;
  --aspect-4-5: 4 / 5;
  --aspect-5-2: 5 / 2;
  --aspect-5-4: 5 / 4;
  --aspect-16-9: 16 / 9;
  --aspect-9-16: 9 / 16;

  /* SPACING */
  --block-spacing: 5rem; /* 80px */

  /* COLORS */
  --black: 0, 0%, 10%;
  --white: 0, 0%, 0%;

  --beige: 36, 45%, 98%;
  --beige-dimmed: 43, 26%, 95%;

  --blue: 238, 46%, 16%;
  --blue-light: 228, 100%, 10%;

  --border: 48, 4.4%, 77.8%;

  /* CONTENT COLORS */
  --content-pink-100: 320, 100%, 91%;
  --content-pink-200: 317, 100%, 73%;
  --content-pink-300: 320, 43%, 27%;

  --content-purple-100: 265, 100%, 88%;
  --content-purple-200: 258, 100%, 72%;
  --content-purple-300: 258, 33%, 50%;

  --content-orange-100: 30, 100%, 86%;
  --content-orange-200: 34, 100%, 50%;
  --content-orange-300: 30, 79%, 27%;

  --content-blue-100: 200, 86%, 86%;
  --content-blue-200: 202, 100%, 60%;
  --content-blue-300: 201, 67%, 29%;

  /* DYNAMIC COLORS */
  --background: var(--beige);
  --background-foreground: var(--beige-dimmed);
  --foreground: var(--black);

  /* TRANSITION DURATIONS */
  --dark-mode-transition: 1000ms;
}

@screen lg {
  :root {
    /* GRID */
    --grid-edge: 5rem; /* 80px */
    --grid-gap-x: 0.625rem; /* 10px */

    /* NAVIGATION */
    --navigation-top-height: 2rem; /* 32px */
    --navigation-height: 5rem; /* 80px */
    --navigation-search-height: 6.25rem; /* 100px */
  }
}

@media (prefers-color-scheme: dark) {
  body:not(.user-interacted) {
    --background: var(--blue-light);
    --background-foreground: var(--blue);
    --foreground: var(--beige);
  }
}

.dark-mode {
  --background: var(--blue-light);
  --background-foreground: var(--blue);
  --foreground: var(--beige);
}

.content-container {
  @apply mx-auto max-w-[var(--page-width)] px-[var(--grid-edge)];
}

.dark-mode-transition {
  @apply transition-[background] duration-dark-mode;
}

body {
  @apply text-foreground bg-background-foreground transition-all duration-dark-mode;
  font-family: Arial, Helvetica, sans-serif;
}

body > * {
  @apply bg-background transition-all dark-mode-transition;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* shadcn variables */
@layer base {
  :root {
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
